body{
	color:rgb(23, 23, 23);/*color permet de changer la couleur de notre texte. On pourra utiliser le nom anglais de la couleur, son code hexadécimal #, ou encore le code RGB*/
	background-color:#008dc9;/*background-color permet de changer la couleur de fond de nos éléments*/ 
	font-family:cursive;/*font-family permet de changer la police de notre site, c'est-à-dire le style d'écriture. On peut choisir plusieurs valeurs entre serif, sans-serif, cursive et monospace*/
	font-size:15px;/*font-size permet de modifier la taille des lettres*/
	line-height:20px;/*line-height permet de modifier l'espace qu'il y a entre 2 lignes de texte*/
	text-align:center;/*text-align permet de changer la position du texte en le mettant au centre avec la valeur center, à gauche avec left ou à droite avec right*/ 
}
h1{
	color:#0000bf;
	font-family:sans-serif;
	font-variant:small-caps;/*font-variant, avec pour valeur small-caps, permet de changer toutes les lettres en petites majuscules*/
	letter-spacing:1px;/*letter-spacing permet de changer l'espace entre les lettres*/
}

h2{
	color:#0000bf;
	font-weight:lighter;/*font-weight permet de modifier l'épaisseur des lettres, lighter pour les affiner et bolder pour les épaissir*/
}

a{
	color:#0000bf;
	text-decoration:none;/*text-decoration, avec pour valeur none, permet de supprimer la barre de soulignement présente en-dessous du format par défaut des liens*/
}

a:hover{/*a:hover permet de modifier la couleur de notre lien lorsque l'on passe notre souris dessus*/
	color:#ff0000;
}

div{
	margin:25px 300px;/*margin correspond à la marge extérieure*/
	padding:20px;/*padding correspond à la marge intérieure*/
	border-radius:15px;/*border-radius permet d'arrondir les angles de nos bords*/
	box-shadow:10px 10px 20px rgb(23, 23, 23);/*box-shadow permet d'ajouter une ombre à nos éléments*/
}

iframe{
	border-radius:10px;
}

img{
	border-radius: 10px;
}
